---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Banner from "../components/Banner.astro";
import Content from "../components/Content.astro";
import ServiceCard from "../components/ServiceCard.astro";
// import Services from '../components/Services.astro';
import Service from "../components/Service";
import Product from "../components/Product";
import Customers from "../components/Customers";
import Testimonials from "../components/Testimonials";
import Partners from "../components/Partners";
import Blog from "../components/Blog";
import Footer from "../components/Footer";

const services = [
	{
		title: "Enhances Efficiency, Safety, and Cost-Effectiveness.",
		subTitle: "AI INFRASTRUCTURE INSPECTION ",
		imgUrl:"infrastructure.jpeg",
		features: [
			{
				feature: "Cutting-Edge Solution",
				details:
					"Ombrulla leverages AI, drones, and IoT technologies to transform infrastructure inspection.",
			},
			{
				feature: "Real-Time Insights",
				details:
					"Real-time insights enhance inspection efficiency, safety, and reduce conventional challenges",
			},
			{
				feature: "Longevity and Cost-Effectiveness",
				details:
					"Ombrulla ensures the longevity and safety of critical infrastructure while offering a cost-effective solution.",
			},
			{
				feature: "Responsive Maintenance",
				details:
					"Embracing Ombrulla enhances infrastructure management, increasing reliability and responsiveness, and reducing risks",
			},
		],
	},
	{
		title: "Improving  quality  with greater  precision.",
		subTitle: "AI VISUAL INSPECTION",
		imgUrl:"analatics.jpeg",
		features: [
			{
				feature: "Automated Defect Detection",
				details:
					"Automated visual inspection in manufacturing uses computer vision and machine learning to identify defects autonomously.",
			},
			{
				feature: "Advanced Image Processing",
				details:
					"It captures and enhances digital images for relevant feature extraction",
			},
			{
				feature: "Informed Decision-Making",
				details:
					"The system classifies defects, aiding manufacturers in quality control decisions",
			},
			{
				feature: "Real-Time Quality Assurance",
				details:
					"Integration with manufacturing enables real-time quality control, reducing substandard product risks",
			},
		],
	},
	{
		title: "Empowers Businesses to make Insightful Decisions",
		subTitle: "AI DATA ANALYTICS",
		imgUrl:" dataAnalatics.jpeg",
		features: [
			{
				feature: "Actionable Insights",
				details:
					" AI data analysis  enhance decisions, personalize customer experiences, and improve operations.",
			},
			{
				feature: "Increased Customer Loyalty",
				details:
					"AI predictive analytics for personalized recommendations & increased customer loyalty",
			},
			{
				feature: "Quality Assurance",
				details:
					"AI analytics identifies and mitigates potential issues, ensuring product and service quality and reliability.",
			},
			{
				feature: "Efficiency and Responsiveness",
				details:
					"Customers benefit from increased efficiency, improved product quality, and more responsive interactions with businesses.",
			},
		],
	},
];
---

<Layout title="Ombrulla">
	<!-- <Navbar/> -->
	<div class="grid row-auto h-screen font-sans ">
		<div class="px-[6vw]">
			<div><Menu /></div>
			<div><Banner /></div>
		</div>
		<div><Content /></div>
		{services.map((d, i) => <ServiceCard index={i} {...d} />)}
		<div class="mt-"><Service /></div>
		<div><Product /></div>
		<div><Customers /></div>
		<div><Testimonials /></div>
		<div><Partners /></div>
		<div><Blog /></div>
		<div><Footer /></div>
	</div>
</Layout>

<style></style>
