---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Banner from "../components/Banner.astro";
import Content from "../components/Content.astro";
import ServiceCard from "../components/ServiceCard.astro";
// import Services from '../components/Services.astro';
import Service from "../components/Service";
import Product from "../components/Product";
import Customers from "../components/Customers";
import Testimonials from "../components/Testimonials";
import Partners from "../components/Partners";
import Blog from "../components/Blog";
import Footer from "../components/Footer";

const services = [
	{
		title: "Enhances Efficiency, Safety, and Cost-Effectiveness.",
		subTitle: "AI INFRASTRUCTURE INSPECTION ",
		imgUrl: "ai-infrasctucture-inspection.jpg",
		features: [
			{
				feature: "Cutting-Edge Solution",
				details:
					"Ombrulla leverages AI, drones, and IoT technologies to transform infrastructure inspection.",
			},
			{
				feature: "Real-Time Insights",
				details:
					"Real-time insights enhance inspection efficiency, safety, and reduce conventional challenges",
			},
			{
				feature: "Longevity and Cost-Effectiveness",
				details:
					"Ombrulla ensures the longevity and safety of critical infrastructure while offering a cost-effective solution.",
			},
			{
				feature: "Responsive Maintenance",
				details:
					"Embracing Ombrulla enhances infrastructure management, increasing reliability and responsiveness, and reducing risks",
			},
		],
	},
	{
		title: "Improving  quality  with greater  precision.",
		subTitle: "AI VISUAL INSPECTION",
		imgUrl: "ai-defect-detection.avif",
		features: [
			{
				feature: "Automated Defect Detection",
				details:
					"Automated visual inspection in manufacturing uses computer vision and machine learning to identify defects autonomously.",
			},
			{
				feature: "Advanced Image Processing",
				details:
					"It captures and enhances digital images for relevant feature extraction",
			},
			{
				feature: "Informed Decision-Making",
				details:
					"The system classifies defects, aiding manufacturers in quality control decisions",
			},
			{
				feature: "Real-Time Quality Assurance",
				details:
					"Integration with manufacturing enables real-time quality control, reducing substandard product risks",
			},
		],
	},
	{
		title: "Empowers Businesses to make Insightful Decisions",
		subTitle: "AI DATA ANALYTICS",
		imgUrl: " ai-data-analytics.jpg",
		features: [
			{
				feature: "Actionable Insights",
				details:
					" AI data analysis  enhance decisions, personalize customer experiences, and improve operations.",
			},
			{
				feature: "Increased Customer Loyalty",
				details:
					"AI predictive analytics for personalized recommendations & increased customer loyalty",
			},
			{
				feature: "Quality Assurance",
				details:
					"AI analytics identifies and mitigates potential issues, ensuring product and service quality and reliability.",
			},
			{
				feature: "Efficiency and Responsiveness",
				details:
					"Customers benefit from increased efficiency, improved product quality, and more responsive interactions with businesses.",
			},
		],
	},
];
const posts = [
	{
		title: "Privacy and security concerns with Artificial Intelligence",
		href: "#",
		category: { imageUrl: "blog-1.webp", href: "#", color: "rounded-lg	" },
		description:
			"Privacy and security are significant concerns when it comes to AI. AI systems often require access to large amounts of personal data, which can be ...",
		date: "Mar 16, 2020",
		datetime: "2020-03-16",
		author: {
			name: "Paul York",
			href: "#",
			imageUrl:
				"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYcAGl6MERiuoxTUbPVp0EMaTkxuukfb7WNPGvnJ6wokg8oIvMlKW8WxYo0-bJ9y1chf0&usqp=CAU",
		},
		readingTime: "6 min",
	},
	{
		title: "The impact of AI on jobs and the workforce",
		href: "#",
		category: { imageUrl: "blog-2.webp", href: "#", color: "rounded-lg " },
		description:
			"The impact of AI on jobs and the workforce is a topic of much debate and speculation. While some argue that AI will create new job opportunities...",
		date: "Mar 10, 2020",
		datetime: "2020-03-10",
		author: {
			name: "Dessie Ryan",
			href: "#",
			imageUrl:
				"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPUtHzWNQE2FDoDrR_dYBqr-h-k9vO9b1kAA&usqp=CAU",
		},
		readingTime: "4 min",
	},
	{
		title: "Bias and fairness in Artificial Intelligence",
		href: "#",
		category: { imageUrl: "blog-3.webp", href: "#", color: "rounded-lg" },
		description:
			"Bias and fairness are important considerations in AI, as they can significantly impact the accuracy and effectiveness of AI systems, as well as the social and ethical implications of their use...",
		date: "Feb 12, 2020",
		datetime: "2020-02-12",
		author: {
			name: "Easer Collins",
			href: "#",
			imageUrl:
				"https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg",
		},
		readingTime: "11 min",
	},
];
---

<Layout title="Ombrulla" description="Ombrulla is an AI company">
	<!-- <Navbar/> -->
	<div class="grid row-auto h-screen font-sans">
		<div class="">
			<div><Menu /></div>
			<div><Banner /></div>
		</div>
		<div><Content /></div>
		<div class="flex flex-col flex-wrap relative">
			{services.map((d, i) => <ServiceCard index={i} {...d} />)}
		</div>
		<div><Service /></div>
		<div><Product /></div>
		<div><Customers /></div>
		<div><Testimonials /></div>
		<div><Partners /></div>
		<div><Blog /></div>
		<div><Footer /></div>
	</div>
</Layout>

<style></style>
