---
import { PlayIcon } from "@heroicons/react/20/solid";

---

<!-- import { PlayIcon } from '@heroicons/react/24/solid'; -->

<div class="h-[vh] lgradient">
    <div class="flex justify-between grid-col-2 h- items-center px-[6vw]">
        <div class="w-1/2 gap-y-10">
            <h4 class="text-6xl font-sans font-semibold w-[28.25rem] leading-[1.2]		">
                Manual Inspection is 
            </h4>
            <span class="text-primary font-normal w- text-6xl font-sans leading-[1.2]  	">
              Slow & Error-Prone</span>
            <p
                class="mt-10 font-normal text-lg leading-6 text-[#82858d]  font-sans leading-[1.6] mb-10"
            >
            AI-driven computer vision transforms manufacturing quality inspection, boosting precision and cost-efficiency while upholding product excellence.</p>            
           <div class="flex">
             <div>
                <button
                class="bg-primary leading-5	text-base	 hover:bg-transparent text-white font-sans font-semibold hover:text-primary py-2 px-4 border border-primary hover:border-secoondary  w-40 h-[3.5rem]"
                style={{borderRadius:'30px',}}
            >
                Schedule Call
            </button>
             </div>
          <div>
            <button
            type="button"
            class="ml-10 h-[3.5rem] w-[3.5rem]  inline-flex items-center rounded-full border border-transparent bg-primary p-3 text-white hover:text-primary shadow-sm hover:bg-transparent focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            <PlayIcon className="h-7 w-7" aria-hidden="true" />
          </button>
          </div>
          <div class="ml-5 font-medium	text-base	font-sans mt-4" >Watch Video</div>
           </div>
        </div>
        <div class="slider-thumb2">
            <div class="slider-thumb">
                <div class="w-1/2">
                    <div class="container">
                        <img
                            class="image-mask"
                            src="person.jpg"
                            alt="Manual work is slow and error prone"
                            width="80%"
                            height="80%"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .lgradient {
    background: linear-gradient(to  left ,  #cfd9ff, #ffffff);
    position: relative;
    z-index: 50;
    /* height: 100vh;
    width: 100vw; */
  }
    img {
        max-width: 100%;
        display: block;
    }

    .container {
        width: 625px;
        height: 632.5px;
        margin: 1em auto;
    }

    .container img {
        height: 80%;
        width: 80%;
        object-fit: cover;
        -webkit-mask-size: cover;
        mask-size: cover;
        margin-left: 90px;
        margin-top: 70px;
    }

    .image-mask {
        -webkit-mask-image: url(https://abhishek-balakrishnan.github.io/ombrulla-main/mask-banner.png);
        mask-image: url(https://abhishek-balakrishnan.github.io/ombrulla-main/mask-banner.png);
    }

.slider-thumb::before {
  position: absolute;
  content: "";
  left: 51%;
  top: 6%;
  width: 450px;
  height: 450px;
  background: ;
  border: 2px solid rgb(37, 39, 173);
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}


.slider-thumb2::before {
  position: absolute;
  content: "";
  left: 60%;
  top: 6%;
  width: 450px;
  height: 450px;
  background: ;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}


</style>
