<div class="h-[90vh]">
    <div class="flex justify-between grid-col-2 h-full items-center">
        <div class="w-1/2">
            <h4 class="text-6xl font-sans font-semibold	">
                Manual Inspection is <span class="text-primary font-normal	">
                    Slow & Error-Prone</span
                >
            </h4>
            <p
                class="mt-10 font-normal text-lg leading-6 text-slate-500 font-sans"
            >
                AI-driven computer vision for precise Quality Inspection
            </p>
            <button
            class="bg-primary hover:bg-transparent text-white font-sans font-semibold hover:text-primary py-2 mt-10 px-4 border border-primary hover:border-secoondary rounded w-40"
        >
            Schedule Call
        </button>
        </div>
        <div class="w-1/2">
            <img src="laptop.png" alt="" class="ml-14" />
        </div>
    </div>
</div>
