<div class="h-[90vh]">
    <div class="flex justify-between grid-col-2 h-full items-center">
        <div class="w-1/2">
            <h4 class="text-6xl font-sans font-semibold	">
                Manual Inspection is <span class="text-primary font-normal	">
                    Slow & Error-Prone</span
                >
            </h4>
            <p
                class="mt-10 font-normal text-lg leading-6 text-slate-500 font-sans"
            >
                AI-driven computer vision for precise Quality Inspection
            </p>
            <button
            class="bg-primary hover:bg-transparent text-white font-sans font-semibold hover:text-primary py-2 mt-10 px-4 border border-primary hover:border-secoondary rounded w-40"
        >
            Schedule Call
        </button>
        </div>
        <div class="w-1/2">
            <div class="container">
                <img
                    class="image-mask"
                    src="https://i.ibb.co/L605mPL/man-with-helmet-working-logistic-fotor-20231016104639.png"
                    alt="Manual work is slow and error prone"
                    width="80%"
                    height="80%"
                />
            </div>
        </div>
    </div>
</div>

<style>
    img {
        max-width: 100%;
        display: block;
    }

    .container {
        width: 625px;
        height: 632.5px;
        margin: 1em auto;
    }

    .container img {
        height: 80%;
        width: 80%;
        object-fit: cover;
        -webkit-mask-size: cover;
        mask-size: cover;
        margin-left: 90px;
        margin-top: 150px;
    }

    .image-mask {
        -webkit-mask-image: url(https://abhishek-balakrishnan.github.io/ombrulla-main/mask-banner.png);
        mask-image: url(https://abhishek-balakrishnan.github.io/ombrulla-main/mask-banner.png);
    }
</style>
