<div class="h-[90vh]">
    <div class="flex justify-between grid-col-2 h-full items-center">
        <div class="w-1/2">
            <h1 class="text-7xl font-space-grotesk">
                Manual Inspection is <span class="text-primary">
                    Slow & Error-Prone</span
                >
            </h1>
            <p
                class="mt-10 font-normal text-lg leading-6 text-slate-500 font-space-grotesk"
            >
                AI-driven computer vision for precise Quality Inspection
            </p>
        </div>
        <div class="w-1/2">
            <img src="laptop.png" alt="" class="ml-14" />
        </div>
    </div>
</div>
