<div class="px-[10vw]">
    <div class="relative flex justify-center items-center align-middle">
        <div class="inner-div w-auto h-auto p-28">
            <h3 class="font-space-grotesk text-xl">
                The majority of customers lack data-driven insights and automation. Using AI, Ombrulla assist clients in extracting data from diverse sources such as photos, videos, and data lakes, which can assist businesses in making data-driven insights and improving their bottom line
            </h3>
        </div>
    </div>
</div>