<div class="h-[10vh] flex items-center justify-between">
    <div class="grid-col-auto flex gap-5">
        <div>
            <img src="./logo.svg" alt="" class="w-26 h-8" />
        </div>
    </div>
    <div class="flex gap-10 font-bold font-space-grotesk">
        <div>Home</div>
        <div>About</div>
        <div>Service</div>
        <div>Page</div>
        <div>Blog</div>
        <div>Contact</div>
    </div>
</div>
