<div class="linear-gradient">
    <div class="h-[10vh] flex items-center justify-between  px-[6vw]">
        <div class="grid-col-auto flex gap-5">
            <div>
                <img src="./logo.svg" alt="" class="w-26 h-8" />
            </div>
        </div>
        <div class="flex gap-10 font-bold font-sans">
            <div>Home</div>
            <div>About</div>
            <div>Service</div>
            <div>Page</div>
            <div>Blog</div>
            <div>Contact</div>
        </div>
    </div>
    
</div>
<style>
    .linear-gradient {
    background: linear-gradient(to  left ,  #cfd9ff, #ffffff);
    /* height: 100vh;
    width: 100vw; */
  }
</style>