<div>
    <div class="mx-16">
        <div class="flex justify-between grid-cols-3	gap-16">
            <div>
jhg
            </div>
            <div>
d
            </div>
            <div>
da
            </div>
        </div>
    </div>
</div>